* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: medium;
    scroll-behavior: smooth;
}

body {
    position: absolute;
    display: block;
}

.main-font {
    font-family: "Alfa Slab One", "Poppins";
    font-weight: 400;
}

body {
    --main_color: #283526;
    --primaty_color: #a3a3a3;
    --button_background: #5679a3;
    --primary_button_background: #fe7649;
    --background_color: #e6ecf5;
    --white_color: #ffff
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--background_color);
    font-size: 4rem;
    margin-bottom: 25px;
    text-transform: capitalize;
}

h3,
h4 {
    font-family: "muli";
    color: var(--background_color);
}

h3 {
    font-weight: 750;
    font-size: 2.2rem;
    line-height: 6rem;
    text-transform: capitalize;
}

p,
a,
li,
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', ;
    color: var(--primaty_color);

}

p {
    font-size: 1.8rem;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    cursor: pointer;

}

li {
    list-style: none;
}

button {
    padding: 0rem 1.5rem;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    line-height: 3rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    z-index: 9;

}


/* For partical background */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    padding: 0;
    line-height: 1.5;
    background: #181a1b;
}


header {
    background: #181a1b;
    background-size: cover;
    /* min-height: 80vh; */
    position: relative;
    z-index: 99;
}


/* ****************************Our Main Menu************************ */

header {
    /* padding: 0 12rem; */
    margin-top: -20px;
}

header nav {
    padding: 0 20rem;
    position: absolute;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
}

header nav .right_side_menu .sub_menu {
    height: inherit;
    display: flex;
    position: relative;
    /* z-index: 99; */
}

header nav .right_side_menu .sub_menu a {
    margin-right: 2rem;
}

header nav .right_side_menu .sub_menu a li {
    font-size: 1.5rem;
    /* line-height: 3.63rem; */
    text-transform: capitalize;
    transition: all 0.3s;
    color: var(--white_color);
}

header nav .right_side_menu .link::after {
    content: "";
    position: relative;
    display: block;
    width: 0;
    height: 2px;
    top: 3px;
    margin: auto;
    background: #3b82f6;
    transition: width 0.3s ease;
}

header nav .right_side_menu .link:hover:after {
    width: 100%;
}

.link.space {
    padding-right: 1rem;
}

/* header nav .right_side_menu .sub_menu a li:hover {
    color: var(--background_color);
    text-decoration: underline;
    
} */
header nav .left_side_menu a img {
    width: 3rem;
    border-radius: 50px;
    height: 3rem;
}

header nav .left_side_menu .my_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

header nav .left_side_menu .my_name h4 {
    padding-left: 1rem;
}

div h1 {
    font-family: 'Rubik Dirt', cursive;
}

div h1 span {
    font-family: 'Rubik Dirt', cursive;
    color: #3b82f6;
}

header nav .left_side_menu {
    display: flex;
    position: relative;

}

div .particles-js {
    height: 80vh;
}



/* ---- stats.js  container FOR PARTICALS---- */


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,
body {
    width: 100%;
    height: 100%;
    background: #181a1b;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font: normal 75% Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* canvas{
  display:block;
  vertical-align:bottom;
} */


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    /* height: inherit;
  width: 100%; */
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

/* #stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
} */

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
    width: 100%;
    height: 50rem;
    background-color: #181a1b;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    /* opacity: 0.9; */
}




/*********************** **********************
                                  Hero section  ***************************/

.hero {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



h1 {
    letter-spacing: 2px;
    white-space: nowrap;
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: "Alfa Slab One", "Poppins";
    font-weight: 400;
    font-family: "Alfa Slab One", "Poppins";
    font-weight: 400;
}

p {
    /* color: $text-light; */
    line-height: 1.6;
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0.5rem;
}

.hero-btns {
    white-space: nowrap;
    text-align: center;
    margin-top: 1rem;
}

hr {
    width: 130%;
    left: 30%;
}





/*********************** **********************
                                 Sccial midia section  ***************************/

.socialmidia {
    position: absolute;
    height: 100%;

}

section div.icon {
    /* border: 2px solid black; */
    /* background-color: blueviolet; */
    position: fixed;
    top: 35%;
    /* right: 0px; */
    z-index: 999;
    height: 300px;
    width: 75px;
    size: 20px;
    opacity: 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

section div.icon a img {
    height: 40px;
    width: 40px;
    /* margin: 5px 0px; */
    margin: 0px;
    padding: 0px;
    /* color: crimson; */
}

section div.icon a img.icon1 {
    /* background-color: #1778F2; */
    /* border: 0px; */
    height: 50px;
    width: 50px;
    border-radius: 20px;
    transition: all 0.2s;

}

section div.icon a img.icon2 {
    /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 50%, #285AEB 90%); */
    /* border-radius: 20px; */
    height: 50px;
    width: 50px;
    transition: all 0.2s;
}

section div.icon a img.icon3 {
    /* background-color: #c4302b; */
    /* border-radius: 20px; */
    height: 50px;
    width: 50px;
    transition: all 0.2s;

}

section div.icon a img.icon4 {
    /* background-color: #09b9ff; */
    /* border-radius: 20px; */
    height: 50px;
    width: 50px;
    transition: all 0.2s;

}


/* * *************hover effect ***************  */
div.icon a img.icon1:hover {
    height: 70px;
    width: 70px;
    /* border-radius: 40px; */
}

div.icon a img.icon2:hover {
    height: 70px;
    width: 70px;
    /* border-radius: 40px; */
}

div.icon a img.icon3:hover {
    height: 70px;
    width: 70px;
    /* border-radius: 40px; */
}

div.icon a img.icon4:hover {
    height: 70px;
    width: 70px;
    /* border-radius: 40px; */

}


/* * ***********************************About Me **************************************  */

.total-about {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 100%;
    width: initial;
    /* display: block; */
    margin: 0px;
    padding: 0px;
    /* left: 46%; */
}

section div .myimg img{
    height: 35rem;
    width: 25rem;
    transition: all 0.2s;
    mix-blend-mode: luminosity;
}

/* section div .myimg img:hover{
    
    
} */

section div .myimg {
    display: flex;
    justify-content: center;
    align-items: center;
}


.about_me span {
    color: #3b82f6;

}

h3 {
    font-size: 2rem;
}



section .me-about{
    height: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    padding: 0 200px;
    left: 0%;
}







/* resume button */
/* .resumebtn {
    margin-top: 6rem;
  }
  .resumebtn .btn {
    padding: 1.7rem 3rem;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
  }
  .resumebtn .btn span {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
  .resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  .resumebtn .btn:hover {
    background: #1a047e;
  }
  .resumebtn .btn:hover i {
    transform: translateX(5px);
  } */
